{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    {% if errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form class="form form-group" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7" id="search-column">
                {{ wtf.form_field(form.query) }}
            </div>
            <div class="col-md-1 search-button">
                {{ wtf.form_field(form.submit, class='pull-right') }}
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div clas="col-md-7">
                <select class="selectpicker themes-select" id="select-picker" title={{ _('Temas') }} multiple data-actions-box="true">
                    {% for theme in model %}
                        {% if theme.id|string in selected_themes %}
                            <option value="{{ theme.id }}" selected="selected">{{ theme.theme }}</option>
                        {% else %}
                            <option value="{{ theme.id }}">{{ theme.theme }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="search-column">
                {% if ranking %}
                    <div class="pull-right">
                        {% if mode == 'similarity' %}
                            <button type="button" onclick="window.location.href='/search?mode=readability'" class="btn btn-success pull-right">{{ _('Ordenar por legibilidad') }}</button>
                        {% elif mode == 'readability' %}
                            <button type="button" onclick="window.location.href='/search?mode=similarity'" class="btn btn-success pull-right">{{ _('Ordenar por similitud') }}</button>
                        {% endif %}
                    </div>
                    <br>
                    <br>
                    {% for book in ranking %}
                        <a href=/download/{{ book.title }}><p class="book-title">{{ book.title.split('.')[0] }}</p></a>
                        <div class={{ 'level' ~ book.score_tag[1] }}>
                            <p class="text-center">{{ book.score_tag[0] }}</p>
                        </div>
                        <p class="book-text">{{ book.extract }}</p>
                    {% endfor %}
                    <table style="border-collapse:collapse;text-align:left;margin:30px auto 30px" id="nav" role="presentation">
                        <tbody>
                            <tr valign="top">
                                {% if page != 1 %}
                                    <td><a href="{{ '/search?page=' ~ (page - 1) + '&mode=' + mode }}"><span>{{ _('Anterior') }}</span></a></td>
                                    <td class="invisible">p</td>
                                {% endif %}

                                {% for n in range(1, maximum_pages) %}
                                    {% if n == page %}
                                        <td><span>{{ n }}</span></td>
                                    {% else %}
                                        <td><a href="{{ '/search?page=' ~ n + '&mode=' + mode }}"><span>{{ n }}</span></a></td>
                                    {% endif %}
                                    <td class="invisible">p</td>
                                {% endfor %}

                                {% if page != maximum_pages %}
                                    <td><a href="{{ '/search?page=' ~ (page + 1) + '&mode=' + mode }}"><span>{{ _('Siguiente') }}</span></a></td>
                                    <td class="invisible">p</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    {% if query is not defined and not errors%}
                        <div class="alert alert-danger" role="alert">
                            {{ _('No hay ningún resultado para la consulta solicitada.') }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="hidden">
            {{ wtf.form_field(form.theme) }}
        </div>
    </form>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <script type=text/javascript>

    $('#select-picker').on('change',function(){
        $(this).find("option:selected").each(function() {
            
            var theme_values = $(this).attr("value");
            var array = theme_values.split(" ");

            document.getElementById('submit-themes').getElementsByTagName('option')[array[0] - 1].selected = true;
        });

        $(this).find("option:not(:selected)").each(function() {

            var theme_values = $(this).attr("value");
            var array = theme_values.split(" ");

            document.getElementById('submit-themes').getElementsByTagName('option')[array[0] - 1].selected = false;
        });
    });
    </script>
{% endblock %}